<div style="background-color: gray">
    <h3>Editar Producto</h3>
</div>
<div style="color:black; background-color: lightgray">
    <h6>Código:</h6>
    <input type="text" [(ngModel)]="jsonProductos.id_producto" class="form-control">
    <h6>Clasificación:</h6>
    <input type="text" [(ngModel)]="jsonProductos.clasificacion" class="form-control">
    <h6>Categoría:</h6>
    <input type="text" [(ngModel)]="jsonProductos.categoria" class="form-control">
    <h6>Producto::</h6>
    <input type="text" [(ngModel)]="jsonProductos.producto" class="form-control">
    <h6>Marca::</h6>
    <input type="text" [(ngModel)]="jsonProductos.marca" class="form-control">
    <h6>Proveedor:</h6>
    <input type="text" [(ngModel)]="jsonProductos.proveedor" class="form-control">
    <h6>Presentación:</h6>
    <input type="text" [(ngModel)]="jsonProductos.presentacion" class="form-control">
    <br>
    <button (click)="actualizar()" class="btn btn-success"><i class="fas fa-wrench"></i> Editar</button>
</div>
