<br>
<div class="container" style="display: inline-flex;">
    <section style="border: solid black 1px;">
        <h3>Lista de Proveedores</h3>
        <table class="table table-striped table-bordered table-hover display" id="table">
            <thead>
                <tr>                    
                    <th>CÓDIGO</th>
                    <th>NOMBRE</th>
                    <th>NIT</th>
                    <th>DIRECCION</th>
                    <th>CIUDAD</th>
                    <th>TELÉFONOS</th>
                    <th>Procedimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dbProveedores">
                    <td>{{data.id_proveedor}}</td>
                    <td>{{data.nombre}}</td>
                    <td>{{data.nit}}</td>
                    <td>{{data.direccion}}</td>
                    <td>{{data.ciudad}}</td>
                    <td>{{data.telefonos}}</td>
                    
                    <td>
                        <button class="btn btn-warning">Editar</button> |
                        <button (click)="eliminar(data.id, data.nombre)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside style="float: right; color: white;">
        <div style="background-color: gray">
            <h3>Agregar Ítem</h3>
        </div>
        <div style="color:black; background-color: lightgray">
            <h6>Código:</h6>
            <input type="text" [(ngModel)]="jsonProveedores.id_proveedores" class="form-control">
            <h6>Nombre:</h6>
            <input type="text" [(ngModel)]="jsonProveedores.nombre" class="form-control">
            <h6>NIT:</h6>
            <input type="text" [(ngModel)]="jsonProveedores.nit" class="form-control">
            <h6>Dirección::</h6>
            <input type="text" [(ngModel)]="jsonProveedores.direccion" class="form-control">
            <h6>Ciudad::</h6>
            <input type="text" [(ngModel)]="jsonProveedores.ciudad" class="form-control">
            <h6>Teléfonos:</h6>
            <input type="text" [(ngModel)]="jsonProveedores.telefonos" class="form-control">
            <br>
            <button (click)="guardar()" class="btn btn-success">Guardar</button>
        </div>    
    </aside>
</div>