<div style="background-color: gray">
    <h3>Editar Establecimiento</h3>
</div>
<div style="color:black; background-color: lightgray">
    <h6>Código:</h6>
    <input type="text" [(ngModel)]="jsonEstablecimientos.id_establecimiento" class="form-control">
    <h6>Actividad:</h6>
    <input type="text" [(ngModel)]="jsonEstablecimientos.actividad" class="form-control">
    <h6>Nombre:</h6>
    <input type="text" [(ngModel)]="jsonEstablecimientos.nombre" class="form-control">
    <h6>Dirección::</h6>
    <input type="text" [(ngModel)]="jsonEstablecimientos.direccion" class="form-control">
    <h6>Ciudad::</h6>
    <input type="text" [(ngModel)]="jsonEstablecimientos.ciudad" class="form-control">
    <h6>Teléfonos:</h6>
    <input type="text" [(ngModel)]="jsonEstablecimientos.telefonos" class="form-control">
    <br>
    <button (click)="actualizar()" class="btn btn-success"><i class="fas fa-wrench"></i> Editar</button>
</div>
