<br>
<div class="container" style="display: inline-flex;">
    <section style="border: solid black 1px;">
        <h3>Lista de Clasificaciones</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>                    
                    <th>CLASIFICACIÓN</th>
                    <th>CÓDIGO</th>
                    <th>Procedimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dbClasificacion">
                    <td>{{data.clasificacion}}</td>
                    <td>{{data.id_clasificacion}}</td>
                    <td>
                        <button class="btn btn-warning">Editar</button> |
                        <button (click)="eliminar(data.id, data.clasificacion)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside style="float: right; color: white; background-color: gray">Agregar Ítem</aside>
</div>
