<br>
<div class="container" style="display: inline-flex;">
    <section style="border: solid black 1px;">
        <h3>Lista de Productos</h3>
        <table class="table table-striped table-bordered table-hover display" id="table">
            <thead>
                <tr>                    
                    <th>CÓDIGO</th>
                    <th>CLASIFICACIÓN</th>
                    <th>CATEGORÍA</th>
                    <th>PRODUCTO</th>
                    <th>MARCA</th>
                    <th>PROVEEDOR</th>
                    <th>PRESENTACIÓN</th>
                    <th>Procedimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dbProductos">
                    <td>{{data.id_producto}}</td>
                    <td>{{data.clasificacion}}</td>
                    <td>{{data.categoria}}</td>
                    <td>{{data.producto}}</td>
                    <td>{{data.marca}}</td>
                    <td>{{data.proveedor}}</td>
                    <td>{{data.presentacion}}</td>
                    <td>
                        <button (click)="formActualizar(data.id)" class="btn btn-warning">Editar</button> |
                        <button (click)="eliminar(data.id, data.producto)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside style="float: right; color: white;">
        <div style="background-color: gray">
            <h3>Agregar Ítem</h3>
        </div>
        <div style="color:black; background-color: lightgray">
            <h6>Código:</h6>
            <input type="text" [(ngModel)]="jsonProductos.id_productos" class="form-control">
            <h6>Clasificación:</h6>
            <input type="text" [(ngModel)]="jsonProductos.clasificacion" class="form-control">
            <h6>Categoría:</h6>
            <input type="text" [(ngModel)]="jsonProductos.categoria" class="form-control">
            <h6>Producto::</h6>
            <input type="text" [(ngModel)]="jsonProductos.producto" class="form-control">
            <h6>Marca::</h6>
            <input type="text" [(ngModel)]="jsonProductos.marca" class="form-control">
            <h6>Proveedor:</h6>
            <input type="text" [(ngModel)]="jsonProductos.proveedor" class="form-control">
            <h6>Presentación:</h6>
            <input type="text" [(ngModel)]="jsonProductos.presentacion" class="form-control">
            <br>
            <button (click)="guardar()" class="btn btn-success">Guardar</button>
        </div>    
    </aside>
</div>
