<div id="encabezado" style="display:inline-flex;">
  <div id="logo">    
    <img src="assets/images/kosherfood.png" alt="kosherfood" style="width: 50px; margin-right: 5px">
  </div>
  <div id="titulo">
    <h1 style="color: blue;">Kasher Colombia</h1>      
  </div>  
</div>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark"> 
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/web-admins']">ADMINISTRADOR</a>
    </li>
  </ul>   
</nav>
<router-outlet></router-outlet>
  