<div style="background-color: gray">
    <h3>Editar Sello</h3>
</div>
<div style="color:black; background-color: lightgray">
    <h6>Código:</h6>
    <input type="text" [(ngModel)]="jsonSellos.id_sello" class="form-control">
    <h6>Sello:</h6>
    <input type="text" [(ngModel)]="jsonSellos.sello" class="form-control">
    <h6>Abreviatura:</h6>
    <input type="text" [(ngModel)]="jsonSellos.abreviatura" class="form-control">
    <br>
    <button (click)="actualizar()" class="btn btn-success">Editar</button>
</div>
