<div style="background-color: gray">
    <h3>Editar Proveedor</h3>
</div>
<div style="color:black; background-color: lightgray">
    <h6>Código:</h6>
    <input type="text" [(ngModel)]="jsonProveedores.id_proveedor" class="form-control">
    <h6>Nombre:</h6>
    <input type="text" [(ngModel)]="jsonProveedores.nombre" class="form-control">
    <h6>NIT:</h6>
    <input type="text" [(ngModel)]="jsonProveedores.nit" class="form-control">
    <h6>Dirección::</h6>
    <input type="text" [(ngModel)]="jsonProveedores.direccion" class="form-control">
    <h6>Ciudad::</h6>
    <input type="text" [(ngModel)]="jsonProveedores.ciudad" class="form-control">
    <h6>Teléfonos:</h6>
    <input type="text" [(ngModel)]="jsonProveedores.telefonos" class="form-control">
    <br>
    <button (click)="actualizar()" class="btn btn-success"><i class="fas fa-wrench"></i> Editar</button>
</div>
