<h3 style="margin-left: 1%;">Base de Datos</h3>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="mx-auto order-0">
        <ul class="navbar-nav" style="justify-content: center;">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/categorias']"><strong>Categorías</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/clasificacion']"><strong>Clasificación</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/establecimientos']"> <strong>Establecimientos</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/insumos']"> <strong>Insumos</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/marcas']"><strong>Marcas</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/productos']"><strong>Productos</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/proveedores']"> <strong>Proveedores</strong> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/sellos']"> <strong>Sellos</strong> </a>
            </li>        
        </ul>                
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']"> <strong>LOG OUT</strong> </a>
            </li>
        </ul>
    </div>
</nav>