<div>
    <h3 style="display: flex; justify-content: center;">
        <strong>Módulo de Gestión de <em>Base de Datos</em> de Kasher Colombia</strong>
    </h3>
    <hr>
</div>
    <section class="vh-100" id="show">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-black">  
                    <div class="px-5 ms-xl-4">
                        <div id="titulo">
                            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Acceso a Módulo Administrador</h3>      
                        </div> 
                        <hr>
                    </div>  
                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n15">  
                        <form style="width: 23rem;" (submit)="ingresar()" ngNativeValidate>
                            <div class="form-outline mb-4">
                                <input required name="username"[(ngModel)]="admin.username" type="text" id="username" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example18"><strong>Usuario</strong></label>
                            </div>  
                            <div class="form-outline mb-4">
                                <input required name="passcode" [(ngModel)]="admin.passcode" type="password" id="passcode" class="form-control form-control-lg" />
                                <label class="form-label" for="form2Example28"><strong>Contraseña</strong></label>
                            </div>  
                            <div class="pt-1 mb-4">
                                <button type="submit" class="btn btn-info btn-lg btn-block" >Ingresar</button>
                            </div> 
                        </form>  
                    </div>  
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block" id="imagen">
                    <img src="/assets/images/synagogue.jpg" alt="synagogue" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
            </div>
        </div>
    </section>