<br>
<div class="container" style="display: inline-flex;">
    <section style="border: solid black 1px;">
        <h3>Lista de Marcas</h3>
        <table class="table table-striped table-bordered table-hover display" id="table">
            <thead>
                <tr>                    
                    <th>CÓDIGO</th>
                    <th>MARCA</th>
                    <th>Procedimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dbMarcas">
                    <td>{{data.id_marca}}</td>
                    <td>{{data.marca}}</td>
                    <td>
                        <button (click)="formActualizar(data.id)" class="btn btn-warning">Editar</button> |
                        <button (click)="eliminar(data.id, data.marca)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside style="float: right; color: white;">
        <form (submit)="guardar()" ngNativeValidate>        
            <div style="background-color: gray">
                <h3>Agregar Ítem</h3>
            </div>
            <div style="color:black; background-color: lightgray">
                <h6>Código:</h6>
                <input required name="codigo" type="text" [(ngModel)]="jsonMarcas.id_marca" class="form-control">
                <h6>Marca:</h6>
                <input required name="marca" type="text" [(ngModel)]="jsonMarcas.marca" class="form-control">            
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>          
        </form>
        <div>
            <form action="">
                <h3 style="color: black;">Cargar información desde archivo</h3>
                <input type="file">
            </form>
        </div>
    </aside>    
</div>