<br>
<div class="container" style="display: inline-flex;">
    <section style="border: solid black 1px;">
        <h3>Lista de Establecimientos</h3>
        <table class="table table-striped table-bordered table-hover display" id="table">
            <thead>
                <tr>                    
                    <th>CÓDIGO</th>
                    <th>ACTIVIDAD</th>
                    <th>NOMBRE</th>
                    <th>DIRECCION</th>
                    <th>CIUDAD</th>
                    <th>TELÉFONOS</th>
                    <th>Procedimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dbEstablecimientos">
                    <td>{{data.id_establecimiento}}</td>
                    <td>{{data.actividad}}</td>
                    <td>{{data.nombre}}</td>
                    <td>{{data.direccion}}</td>
                    <td>{{data.ciudad}}</td>
                    <td>{{data.telefonos}}</td>
                    
                    <td>
                        <button class="btn btn-warning">Editar</button> |
                        <button (click)="eliminar(data.id, data.nombre)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside style="float: right; color: white;">
        <div style="background-color: gray">
            <h3>Agregar Ítem</h3>
        </div>
        <div style="color:black; background-color: lightgray">
            <h6>Código:</h6>
            <input type="text" [(ngModel)]="jsonEstablecimientos.id_establecimientos" class="form-control">
            <h6>Actividad:</h6>
            <input type="text" [(ngModel)]="jsonEstablecimientos.actividad" class="form-control">
            <h6>Nombre:</h6>
            <input type="text" [(ngModel)]="jsonEstablecimientos.nombre" class="form-control">
            <h6>Dirección::</h6>
            <input type="text" [(ngModel)]="jsonEstablecimientos.direccion" class="form-control">
            <h6>Ciudad::</h6>
            <input type="text" [(ngModel)]="jsonEstablecimientos.ciudad" class="form-control">
            <h6>Teléfonos:</h6>
            <input type="text" [(ngModel)]="jsonEstablecimientos.telefonos" class="form-control">
            <br>
            <button (click)="guardar()" class="btn btn-success">Guardar</button>
        </div>    
    </aside>
</div>
